<p id="link"><%= @link %></p>
<%= link_to "travelocity", "http://www.travelocity.com/Flights-Search?trip=oneway&leg1=from:SFO,to:SAN,departure:06%2f19%2f2014TANYT&passengers=children:0,adults:1,seniors:0,infantinlap:Y&options=cabinclass:coach,nopenalty:N,sortby:price&mode=search" %>

<a href="http://www.travelocity.com/Flights-Search?trip=oneway&leg1=from:SFO,to:LAX,departure:08%2f27%2f2014TANYT&passengers=children:0,adults:1,seniors:0,infantinlap:Y&options=cabinclass:coach,nopenalty:N,sortby:price&mode=search" target="_blank">
  <div class="button btn btn-success btn-large book-button" data-content="Find flight connecting on to YVR. Have fun, and remember to read about the risks before you shortcut!">
    Book
  </div>